.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.our-pref,
.our-team,
.clients,
.grand-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.way {
  padding-bottom: 94px;
}
